body {
   font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
}

body, ul, li, dl, dt, dd {
   margin: 0;
   padding: 0;
}

li {
   list-style: none;
}

h1 {
   font-weight: 600;
   font-size: 32px;
}

h2 {
   font-size: large;
   font-weight: 600;
}

button {
   background: none;
   border: none;
   
   text-align: inherit;
   font-family: inherit;
   font-size: inherit;

   padding: 0;
   margin: 0;
   font-weight: inherit;
  
   &::-moz-focus-inner {
      border: 0;
   }
}

.mainContentPane {
   max-width: 800px;
   margin: 0 auto;
   display: flex;
   padding: 0 1em;
   flex-flow: column;
}

input[type=text], input:not([type]) {
   border: 1px solid #ccc;
   padding: .3em .3em .3em .6em;
   vertical-align: middle;
   border-radius: 2px;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
   transition: border .2s cubic-bezier(0.39, .575, .565, 1),
               box-shadow .2s cubic-bezier(0.39, .575, .565, 1);

   &:focus {
      box-shadow: inset 0 0 0 1px #347bff;
      border-color: #347bff;
      outline: 0;
   }
}

@keyframes jump {
   0% {
      transform: translateY(0);
   }
   20% {
      transform: translateY(0);
   }
   40% {
      transform: translateY(-30%);
   }
   50% {
      transform: translateY(5%);
   }
   60% {
      transform: translateY(-15%);
   }
   80% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(0);
   }
}

@import 'Components/AddArticle.less';
@import 'Components/ArticleLookup.less';
@import 'Components/ArticlesList.less';
@import 'Components/EditathonList.less';
@import 'Components/EditathonPage.less';
@import 'Components/Footer.less';
@import 'Components/Header.less';
@import 'Components/LangSwitcher.less';
@import 'Components/Loader.less';
@import 'Components/ModalDialog.less';
@import 'Components/WikiButton.less';
@import 'Components/WikiLink.less';
@import 'Components/Jury/Jury.less';
