.ArticlesList {
   overflow-y: auto;
   padding: 0 .2em;

   ul {
      margin: 0;
   }
   
   li {
      white-space: nowrap;
      display: flex;
   
      a {
         overflow: hidden;
         text-overflow: ellipsis;
         cursor: pointer;
         text-decoration: none;
         color: inherit;

         &:hover {
            text-decoration: underline;
         }
      }

      &.hasMark {
         color: gray;
      }

      &.selected {
         font-weight: 600;
      }

      &.conflict {
         color: orange;
      }
   }
}
