.Evaluation {
   display: flex;
   flex-flow: row wrap;
   border-top: solid 1px #ddd;
   background: #f5f5f5;
   align-items: center;
   .space-items(.2em);

   @button-radius: 2px;

   .button() {
      background: white;
      padding: .1em .4em;
      min-width: 2em;
      border: solid 1px #bbb;
      border-radius: @button-radius;
      text-align: center;

      &:hover, &:focus {
         box-shadow: 0 1px rgba(0, 0, 0, .1), 
              inset 0 -2px rgba(0, 0, 0, .2);
      }

      &.selected {
         border-color: #347bff;
         background-color: #347bff;
         color: white;
      }
   }

   .marks {
      display: flex;
      flex-flow: row wrap;
      margin-right: 0;

      ul, li {
         display: flex;
         flex-flow: row wrap;
         align-items: center;
      }

      .check {
         margin: .2em;
         display: flex;
         flex-flow: row wrap;
         align-items: center;
         
         button {
            .button();
         }
      }

      .radio {
         display: flex;
         flex-flow: row wrap;
         align-items: center;

         .title, .buttons {
            margin: .2em;
         }

         .buttons {
            display: inline-block;

            button {
               .button();
               border-radius: 0;
               margin-right: -1px;

               &:first-child {
                  border-top-left-radius: @button-radius;
                  border-bottom-left-radius: @button-radius;
               }

               &:last-child {
                  border-top-right-radius: @button-radius;
                  border-bottom-right-radius: @button-radius;
               }
            }
         }
      }
   }

   .comment-button {
      .button();
   }

   .controls {
      display: flex;
      align-items: center;
      margin: 0 0 0 auto;
      * > {
         margin: .2em;
      }

      .total {
         font-weight: 600;
      }
   }

   .comment-dialog {
      width: 30%;

      textarea {
         resize: vertical;
         width: 100%;
         height: 6em;
         font-size: 15px;
         margin-bottom: 1em;
      }
   }
}
