.Jury {
   display: flex;
   flex-flow: column;

   height: 100vh;
   background: white;

   .Preview {
      flex: 1 auto;
   }

   main {
      position: relative;
      display: flex;
      flex-flow: column;
      flex: 1 auto;
   }

   .unsavedWarning {
      .message {
         margin-bottom: 2em;
         font-size: 1.1em;
      }
   }

   .ModalDialog {
      .content {
         border-radius: 3px;
         padding: 20px;
         max-width: 30%;
         align-self: center; // fix for IE11 flex+max-width issue

         .buttons {
            display: flex;
            justify-content: flex-end;

            > * {
               margin-left: 10px;
            }
         }
      }
   }

   .space-items(@n) {
      padding: @n;

      > * {
         margin: @n;
      }
   }
   
   @import 'ArticlesList.less';
   @import 'Evaluation.less';
   @import 'Expander.less';
   @import 'Preview.less';
   @import 'Header.less';
   @import 'Warnings.less';
   @import 'Jury.less';
}
