.Preview {
   display: flex;

   .content {
      flex: 1 auto;
      display: flex;

      &.not-found {
         padding: 0 .4em;
      }

      .Loader {
         flex: 1 auto;
      }

      iframe {
         flex: 1 auto;
         min-height: 100%;
         border: none;
      }
   }
}
