.Warnings {
   flex: 1 auto;
   display: flex;
   font-size: .8em;
   justify-content: flex-end;

   .Loader {
      min-height: auto;
      flex: 1 auto;
   }

   .item {
      display: flex;
      flex-flow: column nowrap;
      padding: 0 0.4em;

      overflow: hidden;

      .row, .row * {
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
      }

      &:not(:last-child) {
         border-right: solid 1px #ccc;
      }

      &.nasty {
         background-color: #fdd;
      }
   }
}
