.AddArticle {
   border: solid 1px #d8d8d8;
   border-radius: 4px;
   padding: 14px;

   display: flex;
   flex-flow: column;

   label {
      padding: 3.5px 0 7px;
   }

   #buttons {
      display: flex;
      margin-left: auto;
      margin-top: 7px;
   }

   #add {
      margin-right: 7px;
   }
}
