.AddArticle {
   border: solid 1px #d8d8d8;
   border-radius: 4px;
   padding: 14px;

   display: flex;
   flex-flow: column;

   label {
      padding: 3.5px 0 7px;
   }

   h2 {
      margin-top: 0;
   }

   #buttons {
      display: flex;
      margin-left: auto;
      margin-top: 7px;

      > :not(:last-child) {
         margin-right: 7px;
      }
   }

   .card {
      width: 300px;
      max-width: 50%;
      flex: 1 0 auto;

      .content {
         display: flex;
         flex-flow: column;
         font-size: 7/8rem;
         line-height: 5/4rem;

         .extract {
            margin: 1rem 0;
            max-height: 7.5rem;
            overflow: hidden;
            position: relative;

            &:after {
               content: '';
               width: 100%;
               height: 1.5em;
               position: absolute;
               left: 0;
               bottom: 0;
               background: linear-gradient(transparent, white);
            }
         }

         .thumbnail {
            img {
               width: 100%;
            }
         }
      }
   }

   .info {
      display: flex;

      .stats {
         flex: 1 auto;
         margin: 0 1em;

         .icon(@url) {
            &::before {
               margin-right: 0.5ex;
               margin-bottom: 0.5ex;
               content: '';
               background: url(@url) no-repeat;
               background-size: 100% 100%;
               width: 16px;
               height: 16px;
               display: inline-block;
               vertical-align: middle;
            }
         }

         .stat {
            .icon('ok.png');

            &.warning {
               .icon('warning.png');
            }

            &.error {
               .icon('error.png');
            }
         }
      }
   }
}
