.ArticlesList {
   display: flex;
   flex-flow: column;

   .header {
      display: flex;
      margin-bottom: 2ex;
   
      .WikiButton {
         margin-left: 1ex;

         &:first-child {
            margin-left: auto;
         }
      }
   }

   .jury {
      margin: 1em 0;

      > span:not(:last-child) {
         &:after {
            content: ', ';
         }
      }
   }

   > table {
      font-size: small;
      border-spacing: 0;
      width: 100%;

      .article, .user {
         text-align: left;
      }

      .dateAdded {
         text-align: right;
      }

      th {
         border-bottom: solid 1px gray;
         font-weight: 600;
      }

      td {
         padding: 1px 3px;
         vertical-align: top;
      }

      tr.spacer {
         height: 1ex;
      }

      tbody {
         tr:hover {
            background: #f8f8f8;
         }
      }
   }

   .needLogin {
      border-radius: 3px;
      padding: 20px;
      max-width: 30%;
      align-self: center; // fix for IE11 flex+max-width issue

      .message {
         margin-bottom: 2em;
         font-size: 1.1em;
      }

      .buttons {
         display: flex;
         justify-content: flex-end;

         > * {
            margin-left: 10px;
         }
      }
   }
}
