.ArticlesList {
   display: flex;
   flex-flow: column;

   .header {
      display: flex;
   }

   .addArticle {
      margin: 0 0 2ex auto;
   }

   .jury {
      margin: 1em 0;
   }

   > table {
      font-size: small;
      border-spacing: 0;
      width: 100%;

      .article, .user {
         text-align: left;
      }

      .dateAdded {
         text-align: right;
      }

      th {
         border-bottom: solid 1px gray;
         font-weight: 600;
      }

      td {
         padding: 1px 3px;
      }

      tr.spacer {
         height: 1ex;
      }

      tr:hover {
         background: #f8f8f8;
      }
   }

   .needLogin {
      border-radius: 3px;
      padding: 20px;
      max-width: 30%;

      .message {
         margin-bottom: 2em;
         font-size: 1.1em;
      }

      .buttons {
         display: flex;
         justify-content: flex-end;

         > * {
            margin-left: 10px;
         }
      }
   }
}
