.EditathonList {
   display: flex;
   flex-flow: column;

   .create {
      margin-bottom: 20px;
      align-self: flex-end;
   }

   .EditathonFilter {
      display: flex;
      flex-flow: column;
      margin: .25em -.25em;

      > * {
         margin: .25em;
      }

      .placeholder {
         font-weight: normal;
         text-shadow: none;
         color: gray;
      }

      // firefox has a different style for placeholders
      @-moz-document url-prefix() {
         .placeholder {
            color: black;
            opacity: .54;
         }
      }
   }

   > h2 {
      font-size: 1.5em;
      margin: .5em 0;
   }

   > ul {
      &.past {
         opacity: 0.5;
      }

      &:not(.past) {
         margin-top: 1em;
      }

      > li {
         cursor: default;

         padding: .25em .5em;
         line-height: 1.5em;

         &:not(:last-child) {
            border-bottom: solid 1px #ddd;
         }

         &:hover {
            background: #f8f8f8;
         }

         a {
            color: inherit;
            text-decoration: none;
         }

         .dates, .description {
            color: #444;
            font-size: small;
         }

         .summary {
            display: flex;
            flex-flow: column;
         }
      }
   }
}

@media only all and (min-width: 600px)  {
    .EditathonList {

       .EditathonFilter {
          flex-flow: row;
       }
    }
}

@media only all and (min-width: 768px)  {
    .EditathonList {

       > ul {

          > li {
             line-height: 2em;

             .summary {
                align-items: center;
                flex-flow: row;

                .description {
                  width: 15em;
                  padding-right: 1em;
                }
                
                .dates {
                  margin-left: auto;
                }
             }
          }
       }
    }
}