.WikiLookup {
   .popupWrapper {
      position: relative;
   }

   .popup {
      position: absolute;
      background: white;
      z-index: 999;

      border: solid 1px #ccc;
      box-sizing: border-box;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);

      > table {
         width: 100%;
         border-collapse: collapse;

         th {
            font-weight: 600;
            text-align: left;
            padding: 0 .3em .3em;
         }
      }

      .item {
         cursor: default;
         
         &.selected {
            background-color: #4c59a6;
            color: #fff;
         }

         td {
            padding: 0 .3em;
         }
      }
   }
}