.WikiLink {
   text-decoration: none;
   color: #0645ad;

   &.red {
      color: #ba0000;
   }

   &:visited:not(.red) {
      color: #0b0080;
   }

   &:active:not(.red) {
      color: #faa700;
   }
   
   &:hover, &:focus {
      text-decoration: underline
   }
}
